@model Kitbag.HackWebApplication.Models.PersonViewModel
@{
    ViewBag.Title = @Model.Name;
}

<h2>@Model.Name</h2>

<div id="person-profile">
    <div class="image">
        <img src="~/Content/images/headshot.jpg" />
    </div>

    <div class="details">
        <div class="name">@Model.Name</div>
        <div class="group">@Model.Group</div>
    </div>

    <div class="details">
        <h3>Contact Details</h3>
        <div class="email">Email : @Model.Email</div>
        <div class="telephone">Telephone : @Model.Telephone</div>
        <div class="skype">Skype : @Model.Skype</div>
    </div>
</div>

