@model Kitbag.HackWebApplication.Models.PersonViewModel
@{
    ViewBag.Title = @Model.Name;
}

<h2>@Model.Name (@Model.JobTitle)</h2>
<h3><a href="/group/view/@Model.GroupId">@Model.Group</a></h3>

<div class="row">
    <div class="col-md-3">
        <div id="person-profile">
            <a href="/person/view/@Model.Id">
                @Html.RenderGravatarImage(Model.Email, 150)
            </a>

            @*<div class="details">
                <div class="group"><a href="/group/view/4">@Model.Group</a></div>
            </div>*@

            <div class="details">
                <h3>Contact Details</h3>
                <div class="email">Email : @Model.Email</div>
                <div class="telephone">Telephone : @Model.Telephone</div>
                <div class="skype">Skype : @Model.Skype</div>
            </div>

            @Html.Partial("_ListedGroups", Model.Groups)

            
        </div>
    </div>
    <div class="col-md-9">
        <h1 class="c-won-Font">
            <em>currently</em><strong>working</strong><em>on..</em> @Model.CurrentlyWorkingOn
        </h1>
        <h2>Status Feed</h2>
        @Html.Partial("_CentralFeed", Model.Status)
    </div>
</div>



