@model Kitbag.HackWebApplication.Models.GroupViewModel

@{
    ViewBag.Title = Model.Group.Name;
}

<div class="row">

    <div class="col-md-9">
        <h2>@Model.Group.Name</h2>

        @(Model.IsOrganisation ? Html.Partial("_Groups", Model.Groups) : Html.Partial("_People", Model.People))
        <div class="clearfix"></div>
    </div>
    <div class="col-md-3" style="float:left;">
        <h3>@Model.Group.Name Feed</h3>
        @Html.Partial("_RightFeed", Model.PersonStatus)
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@Model.Group.Name Structure</h3>
        @Html.Partial("_Hierarchy", new Kitbag.HackWebApplication.Models.HierarchyViewModel())


    </div>
</div>
