@model Kitbag.HackWebApplication.Models.HomeViewModel
@{
    var group = Model.UserGroups.FirstOrDefault();
}
<div id="profileSmall">

    <div id="image">
        @Html.RenderGravatarImage(HttpContext.Current.User.Identity.Name, 100)
    </div>

    <div id="name-and-group">

        <div id="name">
            @Html.ActionLink(Model.PersonProfile.FirstName + " " + Model.PersonProfile.LastName, "view", "person", new { id = Model.PersonProfile.Id }, null)
        </div>

        <div id="job-title">
            @Model.PersonProfile.JobTitle
        </div>

        <div id="group">
            @Html.ActionLink(Model.Group.Name, "view", "group", new { id = group.Id }, null)
        </div>

        <div id="group">
            @Html.ActionLink(Model.Organisation.Name, "view", "group", new { id = Model.Organisation.Id, org = "true" }, null)


        </div>
    </div>
    <div id="workingOn">
        <p>@Model.CurrentlyWorkingOn.Message</p>
    </div>
</div>
