@model Kitbag.HackWebApplication.Models.HomeViewModel
@{
    ViewBag.Title = "My Feed";
}

<div class="row">
    <div class="col-md-3">
        <h2>Profile</h2>

        @Html.Partial("_ProfileSmall", Model)

        <div class="clearfix"></div>
        <h3>User Groups</h3>
        <ul>
            @foreach (var group in Model.UserGroups)
            {
                <li>@Html.ActionLink(group.Name, "view", "group", new { id = group.Id }, null)</li>
            }
        </ul>

    </div>
    <div class="col-md-6">

        <div style="border-bottom:1px dashed #ccc;">

            <h2 id="currently-working-on">Currently working on..</h2>

            <span id="currently-working-on-status" onlclick="">@Model.CurrentlyWorkingOn.CurrentlyWorkingOn1</span>
            <div id="currently-working-on-edit">
                <input type="text" id="currently-working-on-status-new" style="width:85%; float:left; max-width:none;" />
                <button id="currentlyWorkingOnButton" class="btn btn-success" style="float:right">Post</button>
            </div>
            <div class="clearfix"></div>

        </div>

        <div>
            @Html.Partial("_UpdateStatus")
            @Html.Partial("_CentralFeed", Model.Statuses)

        </div>

    </div>
    <div class="col-md-3">
        <h2>Diary appointments..</h2>
        @Html.Partial("_Appointments")
    </div>
</div>

@section Scripts{
    <script>
        $('#currently-working-on-status').click(function () {
            $('#currently-working-on-edit').toggle();
            $('#currently-working-on-status').toggle();
            $('#currently-working-on-status-new').focus();
        });

        $('#currently-working-on-status-new').blur(function () {
            $('#currently-working-on-edit').toggle();
            $('#currently-working-on-status').toggle();
        });

    </script>
}