@model Kitbag.HackWebApplication.Models.HomeViewModel
@{
    ViewBag.Title = "My Feed";
}

<div class="row">
    <div class="col-md-3">
        <h2>Profile</h2>

        @Html.Partial("_ProfileSmall", Model)

        <div class="clearfix"></div>
        <h3>User Groups</h3>
        <ul>
            @foreach (var group in Model.UserGroups)
            {
                <li>@Html.ActionLink(group.Name, "view", "group", new { id = group.Id }, null)</li>
            }
        </ul>

    </div>
    <div class="col-md-6">
        <div>
            @Html.Partial("_UpdateStatus")
            @Html.Partial("_CentralFeed", Model.Statuses)

        </div>

    </div>
    <div class="col-md-3">
        <h2>Diary appointments..</h2>
        @Html.Partial("_Appointments", Model.Appointments)
    </div>
</div>

@section Scripts{
    <script>
//        $('#currently-working-on-status').click(function () {
//            $('#currently-working-on-edit').toggle();
//            $('#currently-working-on-status').toggle();
//            $('#currently-working-on-status-new').focus();
//        });
//
//        $('#currently-working-on-status-new').blur(function () {
//            $('#currently-working-on-edit').toggle();
//            $('#currently-working-on-status').toggle();
//        });

    </script>
}