@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Profile</h2>

        @Html.Partial("_ProfileSmall")

        <div class="clearfix"></div>
        <h3>User Groups</h3>
        <ul>
            <li>@Html.ActionLink("Group 1", "view", new { id = 1 }, null)</li>
            <li>@Html.ActionLink("Group 2", "view", new { id = 1 }, null)</li>

        </ul>

    </div>
    <div class="col-md-6">
        <h2>My Feed</h2>

        @Html.Partial("_UpdateStatus")

        @Html.Partial("_Feed")

    </div>
    <div class="col-md-3">
        <h2>Other stuff</h2>
    </div>
</div>